{erl_opts, [debug_info, warnings_as_errors]}.
%%{erl_opts, [debug_info]}.
{deps, []}.

{eunit_tests, []}.
{eunit_opts, [verbose]}.

{relx, [{release, {file_sender, "0.0.1"}, [file_sender]},
%%  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [file_sender]}
]}.
